*.gba
*.map
build/
tools/agbcc
*.sav
*.cheats
*.elf
*.sym
tmp/
tools/tmp/
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz

objdiff-*
expected/
tools/.venv-ghidra/
.mcp.json

data/scripts/*.bin

**/.claude/settings.local.json
__pycache__/
