// .mcp.json のテンプレイート
// NOTE: .mcp.json は JSONC ではないのでコピペする際はコメントを削除すること
{
  "mcpServers": {
    "ghidra": {
      // https://github.com/bethington/ghidra-mcp/releases/tag/v6.0.0
      // GhidraMCPサーバーをたて、 `uv tool install ./ghidra_mcp_bridge-6.0.0-py3-none-any.whl` をしておくこと
      "command": "bridge-mcp-ghidra"
    }
  }
}
